In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

data = pd.read_csv("tva_output_new.csv",parse_dates= ['Timestamp'])

data['Timestamp'] = pd.to_datetime(data['Timestamp'])

In [2]:
data.head()

,Unnamed: 0,Unnamed: 0.1,Timestamp,Point1,Point2,Cost,Unnamed: 6
0,0,NaN,2020-04-07 16:32:53.358684,1,1,15.9,NaN
1,1,NaN,2020-04-07 16:33:01.897022,1,2,12.3,NaN
2,2,NaN,2020-04-07 16:33:02.081509,1,3,28.8,NaN
3,3,NaN,2020-04-07 16:33:08.508547,1,4,26.7,NaN
4,4,NaN,2020-04-07 16:33:17.875590,1,5,2.1,NaN

In [3]:
data_new = data

In [4]:
data_new.head()

,Unnamed: 0,Unnamed: 0.1,Timestamp,Point1,Point2,Cost,Unnamed: 6
0,0,NaN,2020-04-07 16:32:53.358684,1,1,15.9,NaN
1,1,NaN,2020-04-07 16:33:01.897022,1,2,12.3,NaN
2,2,NaN,2020-04-07 16:33:02.081509,1,3,28.8,NaN
3,3,NaN,2020-04-07 16:33:08.508547,1,4,26.7,NaN
4,4,NaN,2020-04-07 16:33:17.875590,1,5,2.1,NaN

In [5]:
doW = data_new['Timestamp'].dt.day_name()

In [6]:
hh = data_new['Timestamp'].dt.hour

In [7]:
mm = data_new['Timestamp'].dt.minute

In [8]:
ss = (data_new['Timestamp'].dt.second.astype(str)+"."+data_new['Timestamp'].dt.microsecond.astype(str)).astype(float)

In [9]:
dataTimeCols = pd.concat([doW,hh,mm,ss],axis = 1,keys=['doW','Hours','Minutes','Seconds'])

In [10]:
data_new = pd.concat([pd.DataFrame([0]*data_new.shape[0]), dataTimeCols, data_new.iloc[:,2:-1], pd.DataFrame([0]*data_new.shape[0])],axis = 1)

In [11]:
data_new.head()

,0,doW,Hours,Minutes,Seconds,Timestamp,Point1,Point2,Cost,0
0,0,Tuesday,16,32,53.358684,2020-04-07 16:32:53.358684,1,1,15.9,0
1,0,Tuesday,16,33,1.897022,2020-04-07 16:33:01.897022,1,2,12.3,0
2,0,Tuesday,16,33,2.815090,2020-04-07 16:33:02.081509,1,3,28.8,0
3,0,Tuesday,16,33,8.508547,2020-04-07 16:33:08.508547,1,4,26.7,0
4,0,Tuesday,16,33,17.875590,2020-04-07 16:33:17.875590,1,5,2.1,0

In [14]:
data_new['Hours'].describe()

count    65534.000000
mean        11.885464
std          7.217203
min          0.000000
25%          5.000000
50%         12.000000
75%         18.000000
max         23.000000
Name: Hours, dtype: float64

In [15]:
# dayOftheWeek = {'Monday':0,
#                'Tuesday':1,
#                'Wednesday':2, 
#                'Thursday':3,
#                'Friday':4,
#                'Saturday':5,
#                'Sunday' : 6
#            }



# #mapping categorical values to qualitative numbers

# data_new.doW = data_new.doW.map(dayOftheWeek)

In [25]:
data_new

,Hours,Minutes,Seconds,Timestamp,Point1,Point2,Cost,Friday,Saturday,Thursday,Tuesday,Wednesday,newCol
0,16,32,53.358684,2020-04-07 16:32:53.358684,1,1,15.9,0,0,0,1,0,0
1,16,33,1.897022,2020-04-07 16:33:01.897022,1,2,12.3,0,0,0,1,0,0
2,16,33,2.815090,2020-04-07 16:33:02.081509,1,3,28.8,0,0,0,1,0,0
3,16,33,8.508547,2020-04-07 16:33:08.508547,1,4,26.7,0,0,0,1,0,0
4,16,33,17.875590,2020-04-07 16:33:17.875590,1,5,2.1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65529,5,26,36.340246,2020-04-11 05:26:36.340246,2,3,25.3,0,1,0,0,0,0
65530,5,26,42.922225,2020-04-11 05:26:42.922225,2,4,26.2,0,1,0,0,0,0
65531,5,26,43.218693,2020-04-11 05:26:43.218693,2,5,24.8,0,1,0,0,0,0
65532,5,26,56.819114,2020-04-11 05:26:56.819114,3,1,3.2,0,1,0,0,0,0
65533,5,27,0.325873,2020-04-11 05:27:00.325873,3,2,26.1,0,1,0,0,0,0

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_new[['Hours','Minutes','Seconds','Server','Tactic','Latency','Cost']] = scaler.fit_transform(data_new[['Hours','Minutes','Seconds','Server','Tactic','Latency','Cost']])

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [17]:
data_new.head()

,0,doW,Hours,Minutes,Seconds,Server,Tactic,Latency,Cost,Reliability,0
0,0,Monday,0.826087,0.915254,0.719857,0.0,0.00,0.012939,0.302139,1,0
1,0,Monday,0.826087,0.915254,0.752825,0.0,0.25,0.003107,0.664439,1,0
2,0,Monday,0.826087,0.915254,0.753299,0.0,0.50,0.001079,0.663102,1,0
3,0,Monday,0.826087,0.932203,0.408253,0.0,0.75,0.042324,0.570856,1,0
4,0,Monday,0.826087,0.932203,0.412857,0.0,1.00,0.001338,0.374332,1,0

In [18]:
# from sklearn import preprocessing 
# label_encoder = preprocessing.LabelEncoder()
# data_new['doW']= label_encoder.fit_transform(data_new['doW']) 
  
# data_new['doW'].unique()

In [17]:
one_hot = pd.get_dummies(data_new['doW'])

In [18]:
data_new = data_new.drop('doW',axis = 1)
data_new = data_new.join(one_hot)

In [19]:
data_new.head()

,0,Hours,Minutes,Seconds,Timestamp,Point1,Point2,Cost,0,Friday,Saturday,Thursday,Tuesday,Wednesday
0,0,16,32,53.358684,2020-04-07 16:32:53.358684,1,1,15.9,0,0,0,0,1,0
1,0,16,33,1.897022,2020-04-07 16:33:01.897022,1,2,12.3,0,0,0,0,1,0
2,0,16,33,2.815090,2020-04-07 16:33:02.081509,1,3,28.8,0,0,0,0,1,0
3,0,16,33,8.508547,2020-04-07 16:33:08.508547,1,4,26.7,0,0,0,0,1,0
4,0,16,33,17.875590,2020-04-07 16:33:17.875590,1,5,2.1,0,0,0,0,1,0

In [20]:
data_new=data_new.drop(data_new.columns[0], axis=1)

In [21]:
data_new.head()

,Hours,Minutes,Seconds,Timestamp,Point1,Point2,Cost,Friday,Saturday,Thursday,Tuesday,Wednesday
0,16,32,53.358684,2020-04-07 16:32:53.358684,1,1,15.9,0,0,0,1,0
1,16,33,1.897022,2020-04-07 16:33:01.897022,1,2,12.3,0,0,0,1,0
2,16,33,2.815090,2020-04-07 16:33:02.081509,1,3,28.8,0,0,0,1,0
3,16,33,8.508547,2020-04-07 16:33:08.508547,1,4,26.7,0,0,0,1,0
4,16,33,17.875590,2020-04-07 16:33:17.875590,1,5,2.1,0,0,0,1,0

In [22]:
data_new['newCol'] = data_new.apply(lambda x: 0, axis=1)

In [30]:
data_new.head()

,Hours,Minutes,Seconds,Timestamp,Cost,Friday,Saturday,Thursday,Tuesday,Wednesday,newCol,1,2,3
0,16,32,53.358684,2020-04-07 16:32:53.358684,15.9,0,0,0,1,0,0,1,0,0
1,16,33,1.897022,2020-04-07 16:33:01.897022,12.3,0,0,0,1,0,0,1,0,0
2,16,33,2.815090,2020-04-07 16:33:02.081509,28.8,0,0,0,1,0,0,1,0,0
3,16,33,8.508547,2020-04-07 16:33:08.508547,26.7,0,0,0,1,0,0,1,0,0
4,16,33,17.875590,2020-04-07 16:33:17.875590,2.1,0,0,0,1,0,0,1,0,0

In [24]:
one_hot = pd.get_dummies(data_new['Point1'])
one_hot1 = pd.get_dummies(data_new['Point2'])

In [31]:
# data_new = data_new.drop('Point2',axis = 1)
data_new = data_new.join(one_hot1)

ValueError: columns overlap but no suffix specified: Index([1, 2, 3], dtype='object')

In [57]:
from sklearn.model_selection import train_test_split
A = (data_new) 
b = (data_new)
A_train, A_test, b_train, b_test = train_test_split(A, b, test_size=0.2, random_state=100)

In [58]:
A_val_train,A_val_test, b_val_train,b_val_test = train_test_split(A_train, b_train, test_size=0.2, random_state=100)

In [59]:
data_new.size

377200

In [60]:
A_train.size

301760

In [61]:
A_test.size

75440

In [62]:
A_val_train.size

241408

In [63]:
A_val_test.size

60352

In [64]:
data_new.to_csv('Final_Data.csv')

In [65]:
A_test.to_csv('A_test.csv')
A_val_train.to_csv('A_val_train.csv')
A_val_test.to_csv('A_val_test.csv')

In [50]:
import pandas as pd
data_test = pd.read_csv("document1.csv")

data_test.head()

In [51]:
data_test.head()

,Unnamed: 0,Timestamp,Server,Tactic,Latency,Cost,Reliability,Unnamed: 7
0,NaN,2020-02-03 19:54:43.220016,1,1,11.329851,23.0,1,NaN
1,NaN,2020-02-03 19:54:45.194752,1,2,1.960518,50.1,1,NaN
2,NaN,2020-02-03 19:54:45.223110,1,3,0.027818,50.0,1,NaN
3,NaN,2020-02-03 19:55:24.555857,1,4,39.332392,43.1,1,NaN
4,NaN,2020-02-03 19:55:24.831577,1,5,0.275045,28.4,1,NaN

In [52]:
cols = ['Timestamp','Server','Tactic','Latency','Cost','Reliability']
data_test.query('Tactic == 8' and 'Latency > 120')[cols]

,Timestamp,Server,Tactic,Latency,Cost,Reliability
465,2020-02-03 21:45:15.427104,6,1,158.549936,17.8,1
3202,2020-02-05 09:00:53.338442,4,1,371.607305,0.6,1
3388,2020-02-05 10:07:28.376601,4,1,378.317011,0.8,1
3660,2020-02-05 11:47:28.342375,4,1,436.194813,0.7,1
3700,2020-02-05 12:02:06.265098,4,1,359.920546,0.8,1
3780,2020-02-05 12:32:14.010788,4,1,429.894458,0.7,1
3900,2020-02-05 13:19:13.493915,4,1,416.782514,0.7,1
3975,2020-02-05 13:43:40.634485,4,1,454.464574,0.9,1
4316,2020-02-05 15:29:20.479583,4,1,399.198752,0.7,1
4467,2020-02-05 16:27:51.270020,4,1,424.911912,0.6,1
4703,2020-02-05 17:42:20.980155,4,1,359.825884,0.8,1
4823,2020-02-05 18:31:53.171862,4,1,429.762812,0.7,1
5488,2020-02-05 22:12:13.198545,4,1,565.346094,0.7,1
5528,2020-02-05 22:29:36.244226,4,1,487.546138,0.7,1
5679,2020-02-05 23:24:48.096933,4,1,476.267845,0.7,1
5905,2020-02-06 00:46:01.013821,4,1,467.084345,0.6,1
6175,2020-02-06 02:10:23.026361,4,1,447.083770,0.7,1
6997,2020-02-06 06:25:00.364644,4,1,495.625699,0.6,1
7183,2020-02-06 07:30:36.559867,4,1,450.884311,0.7,1
7263,2020-02-06 08:02:03.591260,4,1,406.996289,0.6,1
7383,2020-02-06 08:50:22.822758,4,1,417.131910,0.6,1
7578,2020-02-06 10:02:32.153855,4,1,437.175098,0.7,1
7658,2020-02-06 10:33:24.383156,4,1,378.486223,0.7,1
7698,2020-02-06 10:49:14.014838,4,1,413.545160,0.7,1
7813,2020-02-06 11:28:49.458210,4,1,429.109764,0.6,1
7928,2020-02-06 12:11:03.945389,4,1,363.751146,0.8,1
8687,2020-02-06 16:26:26.694264,4,1,430.052804,0.6,1
8918,2020-02-06 17:43:06.502416,4,1,406.574443,0.7,1
9255,2020-02-06 19:33:05.134150,4,1,402.846998,0.6,1
9370,2020-02-06 20:07:30.604036,4,1,398.459036,0.9,1
...,...,...,...,...,...,...
17873,2020-02-09 00:35:17.366648,4,1,476.913357,0.7,1
17953,2020-02-09 01:08:47.326769,4,1,431.612412,0.7,1
18149,2020-02-09 02:24:09.706278,4,1,420.876110,0.7,1
18265,2020-02-09 03:07:29.597980,4,1,433.329296,0.8,1
18536,2020-02-09 04:51:32.444301,4,1,492.895771,0.6,1
18877,2020-02-09 06:47:24.365725,4,1,419.288370,0.7,1
19334,2020-02-09 09:19:32.897598,4,1,422.258422,0.6,1
19672,2020-02-09 11:21:31.460227,4,1,413.726228,0.7,1
19712,2020-02-09 11:37:16.061447,4,1,396.190059,0.7,1
19898,2020-02-09 12:30:46.867594,4,1,418.706346,0.7,1
19978,2020-02-09 13:01:53.439021,4,1,382.582940,0.8,1
20128,2020-02-09 13:55:52.557536,4,1,433.016394,0.7,1
20248,2020-02-09 14:43:57.552968,4,1,434.163537,0.7,1
20364,2020-02-09 15:31:17.298195,4,1,555.404589,0.6,1
20661,2020-02-09 17:22:48.377454,4,1,945.442958,0.5,1
20741,2020-02-09 17:56:07.042654,4,1,426.487887,0.7,1
21223,2020-02-09 20:28:58.511700,4,1,456.320619,0.6,1
21672,2020-02-09 23:01:23.760450,4,1,396.207531,0.8,1
21863,2020-02-10 00:09:36.885422,4,1,408.234370,0.7,1
21903,2020-02-10 00:23:56.733946,4,1,329.263270,0.8,1
21983,2020-02-10 00:56:36.317853,4,1,444.035733,0.7,1
22103,2020-02-10 01:43:01.179001,4,1,412.215426,0.8,1
22334,2020-02-10 02:58:44.490045,4,1,421.654274,1.7,1
22374,2020-02-10 03:14:52.246948,4,1,447.242558,0.7,1
22600,2020-02-10 04:27:54.812987,4,1,442.389013,0.7,1
22751,2020-02-10 05:28:15.034956,4,1,451.617559,0.6,1
22831,2020-02-10 06:02:12.823892,4,1,520.220506,0.6,1
23102,2020-02-10 07:29:34.976013,4,1,412.879174,0.7,1
23142,2020-02-10 07:44:46.104633,4,1,376.145589,0.8,1
23338,2020-02-10 08:56:34.319120,4,1,440.536310,0.9,1

In [53]:
cols = ['Timestamp','Server','Tactic','Latency','Cost','Reliability']
data_test.query('Reliability == 0')[cols]

                        Timestamp  Server  Tactic  Latency  Cost  Reliability
3016   2020-02-05 08:05:51.798205       4       1     -1.0   0.6            0
3352   2020-02-05 09:52:54.512350       4       1     -1.0   0.7            0
3468   2020-02-05 10:32:08.408170       4       1     -1.0   2.2            0
3584   2020-02-05 11:16:30.471232       4       1     -1.0   0.6            0
4240   2020-02-05 15:05:33.450759       4       1     -1.0   0.6            0
4431   2020-02-05 16:07:08.934160       4       1     -1.0   0.6            0
4547   2020-02-05 16:53:48.078208       4       1     -1.0   0.6            0
4903   2020-02-05 18:58:39.704895       4       1     -1.0   0.8            0
4939   2020-02-05 19:07:56.667258       4       1     -1.0   1.4            0
5085   2020-02-05 19:51:27.938530       4       1     -1.0   0.8            0
5196   2020-02-05 20:32:37.273178       4       1     -1.0   0.5            0
5377   2020-02-05 21:28:10.037096       4       1     -1.0   1.3            0
5608   2020-02-05 22:54:53.794149       4       1     -1.0   1.4            0
5829   2020-02-06 00:07:25.590980       4       1     -1.0   0.7            0
6290   2020-02-06 02:40:53.104566       4       1     -1.0   0.7            0
6436   2020-02-06 03:25:05.489071       4       1     -1.0   0.7            0
6512   2020-02-06 03:52:12.702868       4       1     -1.0   1.1            0
6583   2020-02-06 04:09:36.192450       4       1     -1.0   2.7            0
6659   2020-02-06 04:40:42.199924       4       1     -1.0   0.6            0
6770   2020-02-06 05:07:49.640465       4       1     -1.0   2.6            0
6921   2020-02-06 05:52:36.232183       4       1     -1.0   0.5            0
7147   2020-02-06 07:14:32.128562       4       1     -1.0   0.6            0
8158   2020-02-06 13:20:31.906949       4       1     -1.0   1.6            0
8234   2020-02-06 13:45:48.637530       4       1     -1.0   0.6            0
8390   2020-02-06 14:43:29.716278       4       1     -1.0   0.6            0
8461   2020-02-06 15:09:05.039468       4       1     -1.0   0.6            0
8807   2020-02-06 17:04:21.810659       4       1     -1.0   0.5            0
9033   2020-02-06 18:17:19.031692       4       1     -1.0   1.5            0
9069   2020-02-06 18:27:47.647599       4       1     -1.0   1.0            0
9525   2020-02-06 21:10:35.036760       4       1     -1.0   0.6            0
...                           ...     ...     ...      ...   ...          ...
16805  2020-02-08 16:57:28.479521       4       1     -1.0   0.8            0
16881  2020-02-08 17:27:04.164157       4       1     -1.0   0.7            0
17367  2020-02-08 20:18:44.024446       4       1     -1.0   0.6            0
18073  2020-02-09 01:52:18.298002       4       1     -1.0   1.1            0
18189  2020-02-09 02:34:46.316583       4       1     -1.0   1.0            0
18420  2020-02-09 04:02:34.114583       4       1     -1.0   0.6            0
18761  2020-02-09 05:58:17.212379       4       1     -1.0   1.5            0
18992  2020-02-09 07:27:46.275452       4       1     -1.0   0.5            0
19068  2020-02-09 07:56:40.777664       4       1     -1.0   0.6            0
19449  2020-02-09 09:54:36.533219       4       1     -1.0   2.5            0
19560  2020-02-09 10:30:44.677607       4       1     -1.0   0.6            0
19596  2020-02-09 10:50:54.870448       4       1     -1.0   0.5            0
19752  2020-02-09 11:47:14.403222       4       1     -1.0   1.1            0
20328  2020-02-09 15:13:49.484102       4       1     -1.0   0.7            0
20514  2020-02-09 16:13:32.478655       4       1     -1.0   1.1            0
20625  2020-02-09 16:59:21.355680       4       1     -1.0   0.6            0
20966  2020-02-09 19:06:57.777571       4       1     -1.0   0.8            0
21112  2020-02-09 19:44:45.817571       4       1     -1.0   1.7            0
21338  2020-02-09 21:05:44.919028       4       1     -1.0   0.9            0
21409  2020-02-09 21:27:23.276827       4       1     -1.0   0.7            0
21560  2020-02-09 22:16:34.025840       4       1     -1.0   0.8            0
21596  2020-02-09 22:31:44.823709       4       1     -1.0   0.7            0
21792  2020-02-09 23:46:32.877895       4       1     -1.0   0.7            0
22163  2020-02-10 02:03:22.006527       8       1     -1.0   0.5            0
22524  2020-02-10 03:55:30.407136       1       1     -1.0   1.6            0
22675  2020-02-10 04:56:18.351815       1       1     -1.0   0.6            0
22911  2020-02-10 06:28:02.789694       1       1     -1.0   0.7            0
23222  2020-02-10 08:10:14.832662       1       1     -1.0   2.3            0
23418  2020-02-10 09:29:02.592091       1       1     -1.0   0.7            0
23454  2020-02-10 09:41:06.529586       1       1     -1.0   0.8            0

[88 rows x 6 columns]