In [3]:
import pandas as pd
data = pd.read_csv("tva_output_new.csv")

In [4]:
data

,Unnamed: 0,Hours,Minutes,Seconds,Latency,Cost,Reliability,TotalCost,Friday,Monday,...,Tuesday,Wednesday,Tactic__1,Tactic__2,Tactic__3,Tactic__4,Tactic__5,Server__1,Server__2,Server__3
0,0,16,32,53.358684,1.716679,15.9,1,27.295194,0,0,...,1,0,1,0,0,0,0,1,0,0
1,1,16,33,1.897022,8.534772,12.3,1,104.977698,0,0,...,1,0,0,1,0,0,0,1,0,0
2,2,16,33,2.815090,0.176431,28.8,1,5.081218,0,0,...,1,0,0,0,1,0,0,1,0,0
3,3,16,33,8.508547,6.426049,26.7,1,171.575495,0,0,...,1,0,0,0,0,1,0,1,0,0
4,4,16,33,17.875590,9.365804,2.1,1,19.668189,0,0,...,1,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260479,260479,18,12,7.274786,6.646640,28.3,1,188.099921,0,0,...,1,0,0,0,0,1,0,0,0,1
260480,260480,18,12,7.575123,0.299192,28.3,1,8.467139,0,0,...,1,0,0,0,0,0,1,0,0,1
260481,260481,18,12,14.421140,1.891963,8.9,1,16.838471,0,0,...,1,0,1,0,0,0,0,1,0,0
260482,260482,18,12,17.961510,3.536333,25.6,1,90.530121,0,0,...,1,0,0,1,0,0,0,1,0,0
260483,260483,18,12,18.149383,0.179867,25.3,1,4.550642,0,0,...,1,0,0,0,1,0,0,1,0,0

In [6]:
data.drop('Reliability', axis = 1, inplace= True)
data.drop('Tactic__4', axis = 1, inplace= True)
data.drop('Tactic__5', axis = 1, inplace= True)
data.drop('Unnamed: 0', axis = 1, inplace= True)

In [7]:
data

,Hours,Minutes,Seconds,Latency,Cost,TotalCost,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Tactic__1,Tactic__2,Tactic__3,Server__1,Server__2,Server__3
0,16,32,53.358684,1.716679,15.9,27.295194,0,0,0,0,0,1,0,1,0,0,1,0,0
1,16,33,1.897022,8.534772,12.3,104.977698,0,0,0,0,0,1,0,0,1,0,1,0,0
2,16,33,2.815090,0.176431,28.8,5.081218,0,0,0,0,0,1,0,0,0,1,1,0,0
3,16,33,8.508547,6.426049,26.7,171.575495,0,0,0,0,0,1,0,0,0,0,1,0,0
4,16,33,17.875590,9.365804,2.1,19.668189,0,0,0,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260479,18,12,7.274786,6.646640,28.3,188.099921,0,0,0,0,0,1,0,0,0,0,0,0,1
260480,18,12,7.575123,0.299192,28.3,8.467139,0,0,0,0,0,1,0,0,0,0,0,0,1
260481,18,12,14.421140,1.891963,8.9,16.838471,0,0,0,0,0,1,0,1,0,0,1,0,0
260482,18,12,17.961510,3.536333,25.6,90.530121,0,0,0,0,0,1,0,0,1,0,1,0,0
260483,18,12,18.149383,0.179867,25.3,4.550642,0,0,0,0,0,1,0,0,0,1,1,0,0

In [8]:
data = data[(data['Tactic__1'] != 0) | 
           (data['Tactic__2'] != 0) | 
           (data['Tactic__3'] != 0)]

In [9]:
data

,Hours,Minutes,Seconds,Latency,Cost,TotalCost,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Tactic__1,Tactic__2,Tactic__3,Server__1,Server__2,Server__3
0,16,32,53.358684,1.716679,15.9,27.295194,0,0,0,0,0,1,0,1,0,0,1,0,0
1,16,33,1.897022,8.534772,12.3,104.977698,0,0,0,0,0,1,0,0,1,0,1,0,0
2,16,33,2.815090,0.176431,28.8,5.081218,0,0,0,0,0,1,0,0,0,1,1,0,0
5,16,33,24.318819,1.708153,5.3,9.053211,0,0,0,0,0,1,0,1,0,0,0,1,0
6,16,33,27.836115,3.513034,25.4,89.231066,0,0,0,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260477,18,12,0.433863,3.519777,25.1,88.346398,0,0,0,0,0,1,0,0,1,0,0,0,1
260478,18,12,0.627043,0.185295,27.3,5.058550,0,0,0,0,0,1,0,0,0,1,0,0,1
260481,18,12,14.421140,1.891963,8.9,16.838471,0,0,0,0,0,1,0,1,0,0,1,0,0
260482,18,12,17.961510,3.536333,25.6,90.530121,0,0,0,0,0,1,0,0,1,0,1,0,0
260483,18,12,18.149383,0.179867,25.3,4.550642,0,0,0,0,0,1,0,0,0,1,1,0,0

In [10]:
data = data[(data['Tactic__1'] != data['Server__1']) | 
           (data['Tactic__2'] != data['Server__2']) | 
           (data['Tactic__3'] != data['Server__3'])]

In [11]:
data

,Hours,Minutes,Seconds,Latency,Cost,TotalCost,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Tactic__1,Tactic__2,Tactic__3,Server__1,Server__2,Server__3
1,16,33,1.897022,8.534772,12.3,104.977698,0,0,0,0,0,1,0,0,1,0,1,0,0
2,16,33,2.815090,0.176431,28.8,5.081218,0,0,0,0,0,1,0,0,0,1,1,0,0
5,16,33,24.318819,1.708153,5.3,9.053211,0,0,0,0,0,1,0,1,0,0,0,1,0
7,16,33,28.173580,0.173281,25.0,4.332018,0,0,0,0,0,1,0,0,0,1,0,1,0
10,16,33,48.147314,5.040912,4.0,20.163647,0,0,0,0,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260473,18,11,30.458376,0.179208,25.3,4.533951,0,0,0,0,0,1,0,0,0,1,0,1,0
260476,18,11,56.908982,6.084121,3.5,21.294423,0,0,0,0,0,1,0,1,0,0,0,0,1
260477,18,12,0.433863,3.519777,25.1,88.346398,0,0,0,0,0,1,0,0,1,0,0,0,1
260482,18,12,17.961510,3.536333,25.6,90.530121,0,0,0,0,0,1,0,0,1,0,1,0,0
260483,18,12,18.149383,0.179867,25.3,4.550642,0,0,0,0,0,1,0,0,0,1,1,0,0

In [13]:
data['TotalCost'] = data['TotalCost'] * 100
# data['predicted_TotalCost'] = data['predicted_TotalCost'] * 100
data['Latency'] = data['Latency'] * 100
# data['predicted_Latency'] = data['predicted_Latency'] * 100

/Users/sakshikarnawat/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/sakshikarnawat/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
data

,Hours,Minutes,Seconds,Latency,Cost,TotalCost,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Tactic__1,Tactic__2,Tactic__3,Server__1,Server__2,Server__3
1,16,33,1.897022,853.477216,12.3,1.049777e+06,0,0,0,0,0,1,0,0,1,0,1,0,0
2,16,33,2.815090,17.643118,28.8,5.081218e+04,0,0,0,0,0,1,0,0,0,1,1,0,0
5,16,33,24.318819,170.815301,5.3,9.053211e+04,0,0,0,0,0,1,0,1,0,0,0,1,0
7,16,33,28.173580,17.328072,25.0,4.332018e+04,0,0,0,0,0,1,0,0,0,1,0,1,0
10,16,33,48.147314,504.091167,4.0,2.016365e+05,0,0,0,0,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260473,18,11,30.458376,17.920756,25.3,4.533951e+04,0,0,0,0,0,1,0,0,0,1,0,1,0
260476,18,11,56.908982,608.412099,3.5,2.129442e+05,0,0,0,0,0,1,0,1,0,0,0,0,1
260477,18,12,0.433863,351.977682,25.1,8.834640e+05,0,0,0,0,0,1,0,0,1,0,0,0,1
260482,18,12,17.961510,353.633285,25.6,9.053012e+05,0,0,0,0,0,1,0,0,1,0,1,0,0
260483,18,12,18.149383,17.986727,25.3,4.550642e+04,0,0,0,0,0,1,0,0,0,1,1,0,0

In [15]:
data.to_csv('pathData.csv')